.card-img-top {
  max-width: 800px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.card {
  color: rgb(33, 37, 41);
  background: rgba(0, 0, 0, 0.5);
}

.card-footer {
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  margin: 0px 30px;
}
