.jumbotron {
  height: 100vh;
  min-height: 600px;
  // padding: 125px 0;
}
#bio-container {
  color: rgb(33, 37, 41);
  background: rgba(0, 0, 0, 0.5);
}

// .bg-texture {
//   background: rgba(0, 0, 0, 0.5);
// }
