#connect {
  min-height: 100vh;
}

#connect-container {
  color: rgb(33, 37, 41);
  background: rgba(0, 0, 0, 0.5);
}
a {
  text-align: center;
}

.container {
  font-size: 2rem;
}

.row {
  margin: 50px;
}
