@import '~bootswatch/dist/spacelab/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/spacelab/bootswatch';

#myName {
  margin-top: 60px;
}

#intro {
  height: 100vh;
}

.btn-resume {
  font-weight: 500;
  color: #fff;
  border-color: #fff;
  margin-bottom: 0 !important;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

video {
  object-fit: contain;
}

.hero {
  height: 100vh;
  min-height: 600px;
  padding: 125px 0;
}

.hero .container {
  color: rgb(33, 37, 41);
}

.bg-texture {
  background: rgba(0, 0, 0, 0.3);
}
